body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {

  --dark-purple: #270722;

  --deep-champagne: #ecce8e;

  --medium-champagne: #dbcf96;

  --text-white: white;

  --laurel-green: #c2c6a7;

  --opal: #9ac2c5;

  --border-color: #ccc;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}
